@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .clip-hexagon {
    clip-path: polygon(
      25% 5.77%, 75% 5.77%,
      100% 50%, 75% 94.23%,
      25% 94.23%, 0% 50%
    );
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
